<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
  <span style="color: green;">
  <h1>Hello world!</h1>
  </span>
  <h2>This is Go example web application</h2>
  <h3>This application is released by Cloud deploy</h3>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}

